---
# Main site styles
---
@charset "utf-8";

// Fonts
$font-family: 'Signika', Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// Layout
$site-max-width: 1000px;
$spacing-default: 30px;

$color-text: #444444;
$color-link-default: #B74242;
$color-link-hover: #DE4F4F;
$color-accent: #152B39;
$color-background: #ECF8FF;

$breakpoint-small: 568px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1280px;

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: $font-family;
}

html {
  background-color: $color-background;
  background-image: url('../images/bg_fade.png');
  background-position: top center;
  background-repeat: repeat-x;
}

body {
  background-color: transparent;
  background-image: url('../images/bg_highlight.png');
  background-position: top center;
  background-repeat: no-repeat;
  font-size: 14px;
  color: $color-text;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

section {
  margin-bottom: $spacing-default;
}

h3 {
  font-size: 2rem;
  font-weight: normal;
  border-bottom: 2px dotted #777;
  margin: 0 0 $spacing-default;
}

h4 {
  font-weight: normal;
  font-size: 1.3rem;
}

small {
  font-size: 0.9rem;
}

ul li {
  margin-bottom: $spacing-default / 2;
}

a, a:visited {
  color: $color-link-default;
  text-decoration: none;
}

a:hover, a:focus {
  color: $color-link-hover;
}

.center {
  text-align: center;
}

.button {
  border-radius: 4px;
  display: inline-block;
  transition: background 200ms ease-out;
  padding: 10px 14px;

  img {
    display: block;
  }

  &.circle {
    border-radius: 50%;
  }

  &.primary {
    background: $color-link-default;
    border: 0;
    color: #FFF;

    &:hover, &:focus {
      background: $color-link-hover;
      color: #FFF;
      border: 0;
    }

    &:visited {
      color:  #FFF;
    }
  }

  &.secondary {
    background: transparent;
    border: 1px solid $color-link-default;
    color: $color-link-default;

    &:hover, &:focus {
      color: $color-link-hover;
      border-color: $color-link-hover;
    }
  }
}


.site-wrapper {
  max-width: $site-max-width;
  padding: 0 $spacing-default;
  margin: 0 auto;
}

.hello {
  text-align: center;
  padding: 10px 0 30px;

  h1, h2 {
    display: inline-block;
    font-size: 1.8em;
    line-height: inherit;
    margin: 0;
  }

  h1 {
    font-weight: bold;
    margin-right: 10px;
  }
}

#little-jarads {
  position: relative;
  display: block;
  margin: 10px auto;
  width: 190px;
  height: 350px;
  overflow: hidden;
  cursor: pointer;
  cursor: hand;

  img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    max-width: 100%;

    &.active {
      opacity: 1;
    }
  }

  &:before {
    background-color: #000;
    opacity: 0.2;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    width: 100%;
  }
}

.info {
  margin: 0 $spacing-default * -1 $spacing-default;

  .info-list {
    padding: 0 $spacing-default;
  }

  ul {
    list-style: circle outside;
    margin: 0 0 0 24px;
    padding: 0;
    li {
      position: relative;
    }
  }
}

.skills {

  .skill {
    margin-bottom: $spacing-default;

    h4 {
      display: inline-block;
      line-height: 40px;
      margin: 0 0 $spacing-default/2 0;
    }

    img {
      background-color: $color-accent;
      border-radius: 20px;
      display: inline-block;
      float: left;
      padding: 4px;
      margin-right: 10px;
      width: 32px;
      height: 32px;
    }

    ul {
      margin: 0 $spacing-default 0 33px;
      padding: 0;
    }
  }
}

.projects {

  .description {
    & > * {
      margin-left: $spacing-default/2;
    }
  }

  h4 {
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.projects .project {
  position: relative;
  z-index: 1;
  display: inline-block;
  cursor: pointer;
  margin-bottom: $spacing-default;
}

.projects .project .media img {
  border-radius: 10px;
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
}

#projects .project .description ul.collaborators li {
  margin-right: 4px;
  float: left;
}

#projects .project .description ul.collaborators li a {
  display: block;
  position: relative;
}

#projects .project .description ul.collaborators li a span.tooltip {
  background-color: #000;
  background-color: rgba(0,0,0,.7);
  color: #FFF;
  display: none;
  font-size: 12px;
  line-height: 12px;
  padding: 4px;
  position: absolute;
  text-align: center;
  bottom: 104%;
  left: 40%;
}

#projects .project .description ul.collaborators li a:hover span.tooltip {
  display: hidden;
}

#projects .project .links {
  margin-top: 20px;
  text-align: center;
}

#projects .project .links .button {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}

.about {
  p {
    font-size: 1.1em;
    margin-left: 140px + $spacing-default;
  }

  .about-image {
    float: left;
    max-width: 140px;
    margin-right: $spacing-default;
    margin-bottom: $spacing-default;
    margin-top: $spacing-default / -2;
  }
}

footer {
  border-top: 2px dotted #777;
  padding: $spacing-default 0;
  clear: both;
}

.contact-list {
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;

  li {
    display: inline-block;
    margin: 0 4px;
    padding: 0;

    a {
      display: block;
      width: 50px;
      height: 39px;
      padding: 11px 0 0;
    }
  }
}

.drawing {
  position: relative;
  font-weight: bold;
}

.fluffy {
  position: absolute;
  top: 6px;
  left: 10px;
}

@media screen and (max-width: $breakpoint-small) {
  .hello {
    h1 {
      font-size: 2.2em;
      margin-right: 0px;
    }

    h2 {
      font-size: 1.4em;
    }
  }

  .projects {
    .description {
      & > * {
        margin-left: 0;
      }
    }

    .button.secondary {
      display: block;
      text-align: center;
      margin-bottom: $spacing-default / 2;
    }
  }

  .about {
    p {
      margin-left: 0;
    }

    .about-image {
      float: none;
      display: block;
      margin: 0 auto;
    }
  }

  footer {
    text-align: center;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  footer {
    .note p {
      margin-top: 0;
    }

    .contact-list {
      display: inline-block;
      float: right;
      li {
        margin-left: 8px;
        margin-right: 0;
      }
    }
  }
}
