<header class="hello sixteen columns">
  <div id="little-jarads">
    <img class="active" src="images/jarad_work.png" alt="Work Jarad" />
    <img src="images/jarad_casual.png" alt="Casual Jarad" />
    <img src="images/jarad_scooter.png" alt="Scooter Jarad" />
  </div>
  <h1>Jarad Comingdeer.</h1>
  <h2>Developer, Designer, Illustrator.</h2>
  <p>I am a front-end web developer based in San Diego, California. I love building web applications.</p>
  <ul class="contact-list">
    <li><a class="button circle" href="http://twitter.com/TheBrownSound" title="Twitter"><img src="images/twitter_icon.png" alt="Twitter" /></a></li>
    <li><a class="button circle" href="http://github.com/TheBrownSound" title="GitHub"><img src="images/github_icon.png" alt="GitHub" /></a></li>
    <li><a class="button circle" href="http://www.linkedin.com/in/jcomingdeer" title="LinkedIn"><img src="images/linkedin_icon.png" alt="LinkedIn" /></a></li>
    <li><a class="button circle" href="mailto:hello@jcomingdeer.com" title="email"><img src="images/email_icon.png" alt="Email" /></a></li>
  </ul>
</header>
