<header class="hello">
  <div id="little-jarads">
    <img class="active" src="images/jarad_work.png" alt="Work Jarad" />
    <img src="images/jarad_casual.png" alt="Casual Jarad" />
    <img src="images/jarad_outdoor.png" alt="Outdoor Jarad" />
    <img src="images/jarad_scooter.png" alt="Scooter Jarad" />
  </div>
  <h1>Jarad Comingdeer.</h1>
  <h2>Developer, Designer, Illustrator.</h2>
  <p>I am a front-end web developer based in San Diego, California. I love building web applications.</p>
  {% include contact_list.html %}
</header>
