<div id="projects" >
  <h3 class="container">Latest Projects</h3>
  <div class="project" href="http://roflpwnage.com/">
    <a class="thumb one-third column" href="http://roflpwnage.com/">
      <img src="images/project_images/roflpwnage.png" alt="Roflpwnage">
    </a>
    <div class="description two-thirds column">
      <h4>Roflpwnage</h4>
      <p>Ecommerce site for competitive gaming periphrials. Built on rails using slim, sass, purecss, fontawesome and a bunch of other goodies.</p>
      <a class="button" href="http://roflpwnage.com/">Roflpwnage.com</a>
    </div>
  </div>

  <div class="project" href="http://sweetlabs.com/">
    <a class="thumb one-third column" href="http://sweetlabs.com">
      <img src="images/project_images/sweetlabs.png" alt="SweetLabs">
    </a>
    <div class="description two-thirds column">
      <h4>SweetLabs</h4>
      <p>Company website for <a href="http://sweetlabs.com">SweetLabs</a>. Built using <a href="http://foundation.zurb.com/">Foundation</a> and <a href="http://handlebarsjs.com/">Handlebars</a> and a matching Wordpress theme for the blog. Displays on pretty much every device you can think of along with a host of javascript enhancements.</p>
      <a class="button" href="http://sweetlabs.com/">SweetLabs.com</a>
    </div>
  </div>

  <div class="project" href="http://inst.ag/">
    <a class="thumb one-third column" href="http://pixsta.com">
      <img src="images/project_images/instagrille.png" alt="Instagrille">
    </a>
    <div class="description two-thirds column">
      <h4>Pixsta/Instagrille</h4>
      <p>Instagram for your Windows PC. I inherited the flagship application for <a href="http://pokki.com">Pokki</a>. Between handling all the feature implementation and fixing bugs I managed to squeeze in enough time to refactor the framework so the next guy hopefully can make sense of everything.</p>
      <a class="button" href="http://pixsta.com">Pixsta.com</a>
    </div>
  </div>

  <div class="project" href="http://jaradcomingdeer.com/lightgrid/">
    <a class="thumb one-third column" href="http://jaradcomingdeer.com/lightgrid/">
      <img src="images/project_images/lightgrid.png" alt="LightGrid">
    </a>
    <div class="description two-thirds column">
      <h4>LightGrid</h4>
      <p>I loved playing <a href="http://en.wikipedia.org/wiki/Lights_Out_(game)">Lights Out</a> as a kid. What started out as a simple prototype I ended up turning into a little javascript web game. Beat it on hard, <em>I dare ya</em>.</p>
      <a class="button" href="http://jaradcomingdeer.com/lightgrid/">LightGrid Game</a>
      <a class="button" href="http://github.com/TheBrownSound/LightGrid">GitHub Project Page</a>
    </div>
  </div>

  <div class="project" href="http://swipebright.com/">
    <a class="thumb one-third column" href="http://swipebright.com/">
      <img src="images/project_images/swipebright.png" alt="SwipeBright">
    </a>
    <div class="description two-thirds column">
      <h4>SwipeBright</h4>
      <p>A really simple iPhone brightness control. I found myself having trouble adjusting the brightness when I was driving, skiing, or doing something else active. It only took two days to write but it has saved me tons of headaches trying to turn up the brightness when I'm on the go.</p>
      <a class="button" href="http://swipebright.com/">SwipeBright Homepage</a>
    </div>
  </div>

  <div class="project" href="http://qrawr.com/">
    <a class="thumb one-third column" href="http://www.kickstarter.com/projects/lytol/qrawr-comments-for-real-walls">
      <img src="images/project_images/qrawr.png" alt="Qrawr">
    </a>
    <div class="description two-thirds column">
      <h4>Qrawr</h4>
      <p>An attempt to make QR codes cool. Enabled comments and pictures to be posted on a physical object using stickers. Unfortunately we recently shut the service down but it was an amazing learning experience.</p>
      <a class="button" href="http://www.kickstarter.com/projects/lytol/qrawr-comments-for-real-walls">Expired Kickstarter</a>
    </div>
  </div>

</div>
