/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
body {
  background-color: #e6e6e6;
  background-image: url('../images/background_repeat.png');
  background-position: top center;
  background-repeat: repeat;
}

h3 {
	border-bottom: 2px dotted #777;
}

a, a:visited {
  color: #B74242;
  text-decoration: none;
}

a:hover, a:focus {
  color: #de4f4f;
}

a.button, a.bx-pager-link {
  color: #FFF;
  border: none;
  background: #B74242;
  text-shadow: none;
  transition: background 200ms ease-out;
}

a.button:hover, a.button:focus, a.bx-pager-link:hover {
  background: #de4f4f;
  color: #FFF;
  border: none;
}

a.button img {
  display: block;
}

#info ul {
  list-style: circle outside;
  margin-left: 24px;
}

#info ul li {
  position: relative;
}

.center {
  text-align: center;
}

.column, .columns {
  margin-bottom: 10px;
}

/* #Page Styles
================================================== */

#info-wrap {
  padding-bottom: 30px;
}

#header {
	text-align: center;
	padding-bottom: 30px;
}

#little-jarads {
  position: relative;
  display: block;
  margin: 10px auto;
  width: 218px;
  height: 375px;
  overflow: hidden;
  cursor: pointer; 
  cursor: hand;
}

#little-jarads img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

#little-jarads img.active {
  opacity: 1;
}

#header h1, #header h2 {
	display: inline-block;
	font-size: 1.8em;
	line-height: inherit;
}

#header h1 {
	font-weight: bold;
	margin-right: 10px;
}

#skills {
  padding-top: 30px;
}

#skills h3 {
  margin: 30px 10px 8px;
}

#skills .skill:nth-child(4n+1) {
  clear: both;
}

.skill {
  margin-bottom: 20px;
}

.skill img {
  background-color: #444;
  border-radius: 20px;
  display: inline-block;
  float: left;
  padding: 4px;
  margin-right: 10px;
  width: 32px;
  height: 32px;
}

.skill h4 {
  display: inline-block;
  line-height: 40px;
  margin-bottom: 10px;
}

#info .skill ul {
  margin-left: 33px;
}

#projects-title {
  background-image: url("../images/project_repeat_top.png");
  background-position: bottom center;
  background-repeat: repeat-x;
  padding-bottom: 10px;
}

#projects-window {
  background-color: #363636;
  background-image: url("../images/project_bg.png");
  background-position: top center;
  background-repeat: repeat;
  color: #e6e6e6;
  padding-top: 50px;
  position: relative;
  overflow: hidden;
}

#projects-window .button.previous, #projects-window .button.next  {
  position: absolute;
  top: 50%;
  margin-bottom: 0px;
  z-index: 2;
}

#projects-window .button.previous img, #projects-window .button.next img {
  margin: 10px;
}

#projects-window .button.previous {
  left: 0px;
  
  padding-left: 10px;
  
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-bottomleft: 0px;
  -webkit-border-radius: 0px 4px 4px 0px;
  border-radius: 0px 4px 4px 0px;
}

#projects-window .button.previous:hover {
  padding-left: 14px;
}

#projects-window .button.next {
  right: 0px;
  
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -webkit-border-radius: 4px 0px 0px 4px;
  border-radius: 4px 0px 0px 4px;
  padding-right: 10px;
}

#projects-window .button.next:hover {
  padding-right: 14px;
}

#projects h4 {
  font-size: 26px;
}

#projects h4, #projects h5 {
	color: #e6e6e6;
}

#projects .project .display img, #projects .project .display iframe{
  -webkit-box-shadow: 0px 0px 6px 0px #222222;
  -moz-box-shadow: 0px 0px 6px 0px #222222;
  box-shadow: 0px 0px 6px 0px #222222;
  
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#projects .project .display img {
  display: block;
  margin: 0px auto;
  max-width: 460px;
  width: 100%;
}

#projects .project .display iframe {
  width: 460px;
  height: 286px;
}

#projects .project .description ul.collaborators li {
  margin-right: 4px;
  float: left;
}

#projects .project .description ul.collaborators li a {
  display: block;
  position: relative;
}

#projects .project .description ul.collaborators li a span.tooltip {
  background-color: #000;
  background-color: rgba(0,0,0,.7);
  color: #FFF;
  display: none;
  font-size: 12px;
  line-height: 12px;
  padding: 4px;
  position: absolute;
  text-align: center;
  bottom: 104%;
  left: 40%;
}

#projects .project .description ul.collaborators li a:hover span.tooltip {
  display: hidden;
}

#projects .project .links {
  margin-top: 20px;
  text-align: center;
}

#projects .project .links .button {
  font-size: 14px;
  height: 32px;
  line-height: 32px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
}

#footer-wrap {
  margin-top: 0px;
  background-image: url("../images/project_repeat_bottom.png");
  background-position: top center;
  background-repeat: repeat-x;
	padding: 10px 0px;
}

#footer p {
  margin-top: 20px;
}

#footer-nav {
  float: right;
  font-size: 1.1em;
  font-weight: bold;
  margin-top: 21px;
  text-align: right;
}

#footer-nav ul {
  margin-bottom: 0;
  margin-left: 0;
}

#footer-nav ul li {
  display: inline-block;
  height: 40px;
  margin-bottom: 0px;
  margin-left: 20px;
}

#footer-nav .button {
  padding: 4px;
}

.drawing {
  position: relative;
  font-weight: bold;
}

.fluffy {
  position: absolute;
  top: 6px;
  left: 10px;
}

/* #bxSlider
================================================== */
.bx-pager {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

.bx-pager-item {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  display: inline-block;
}

a.bx-pager-link {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 0;
  font-size: 18px;
  border-radius: 15px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
}

a.bx-pager-link:hover {

}

a.bx-pager-link.active, a.bx-pager-link.active:hover {
  background: #FFF;
  color: #222;
  text-shadow: none;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
		#header h1 {
			font-size: 2.2em;
			margin-right: 0px;
		}
		
		#header h2 {
			font-size: 1.4em;
		}
		
		#footer, #footer-nav {
      text-align: center;
    }
    
    #footer-nav ul li {
      margin-left: 10px;
      margin-right: 10px;
    }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/