/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries */

/* #Site Styles
================================================== */

body {
  background: #0e3a67 url("../images/swipebright/background_repeat.jpg") top left repeat-x;
}

h1, h2, h3, h4, h5, h6, p, ul {
  color: #FFF;
}

h2 {
  color: #142737;
  font-size: 18px;
  line-height: 20px;
}

ul {
  list-style: disc;
  list-style-position: inside;
}

a, a:visited {
  color: #70b0f1;
  text-decoration: none;
}

a:hover {
  color: #b1d8ff;
}

/* #Page Styles
================================================== */

#wrapper {
  margin-top: 40px;
  margin-bottom: 20px;
}

#info {
  padding-top: 40px;
}


#info h1.logo {
  background-image: url("../images/swipebright/swipebright.png");
  background-position: top center;
  background-repeat: no-repeat;
  display: block;
  height: 0px;
  overflow: hidden;
  padding-top: 50px;
  margin-bottom: 0px;
  max-width: 349px;
  width: 100%;
}

#info ul {
  margin: 40px 0px;
}

#info a.button {
  background-image: url("../images/swipebright/app_icon.png");
  background-repeat: no-repeat;
  background-position: 170px 4px;
  
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  
  color: #444;
  font-size: 14px;
  height: 41px;
  margin-top: 40px;
  padding: 12px 69px 12px 12px;
  width: 150px;
}

#info a.button em {
  display: block;
  font-size: 26px;
  font-weight: bold;
  font-style: normal;
}

#info a.button .app-icon {
  float: right;
  margin-left: 12px;
}

#screenshot img {
  display: block;
  margin: 0px auto;
  max-width: 198px;
  width: 100%;
}

#footer {
  margin-top: 60px;
  text-align: center;
}

#footer ul {
  color: #142737;
}

#footer ul li {
  display: inline-block;
  margin: 10px 20px;
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	  #info h1 {
	    margin: 0px auto;
	  }
	  
	  #info h2 {
	    text-align: center;
	  }
	  
	  #info ul {
      margin: 40px auto;
      max-width: 320px;
    }
    
    #info a.button {
      display: block;
      margin: 20px auto;
    }
	}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	  #info h1.logo {
      background-image: url("../images/swipebright/swipebright_small.png");
	  }
	  
	  #screenshot img {
      width: 50%;
    }
	}