<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="container">
      {% include header.html %}

      {{ content }}

      {% include footer.html %}
    </div>

    <!-- JS
    ================================================== -->
    <script type="text/javascript" src="js/lib/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="js/jaradcomingdeer.js"></script>

    <script type="text/javascript">
      $(window).ready(function(){
        JaradApp.init();
      });
    </script>

  </body>

</html>
